*,
*::before,
*::after{
   box-sizing: border-box;
}
@font-face {
   font-family: 'SF-Pro-Display';
   src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
       url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}
@font-face {
   font-family: 'SF-Pro-Display';
   src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
       url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
   font-style: normal;
   font-weight: bold;
   font-display: swap;
}
@font-face {
   font-family: 'spaceagecyrillic';
   src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
       url('../fonts/spaceagecyrillic-regular.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}
a{
   text-decoration: none;
   color: inherit;
   
}
button{
   border: 0;
   background-color:transparent;
   cursor: pointer;
   color: inherit;
   font-family: "SF-Pro-Display";
}
body{
   font-family: "SF-Pro-Display";
   font-size: 16px;
   line-height: 19px;
   font-weight: 400;
   color: #fff;
}
.container{
   max-width: 1220px;
   padding: 0 10px;
   margin: 0 auto;
}
.title {
   font-family: 'spaceagecyrillic';
   font-weight: normal;
   font-size: 48px;
   line-height: 48px;
   padding: 100px 0;
}
.button{
   text-transform: uppercase;
   font-size: 18px;
   line-height: 21px;
   padding: 20px 45px;
   border: 1px solid #fff;
   transition: all 0.5s linear;
}
.button:hover{
   color: #CB0E0E;
   border: 1px solid  #CB0E0E;
}
.header{
   background-image: url("../images/space-bg.jpg");
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
.header__inner {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}
.header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 75px 0 30px;
}

.menu__list {
   display: flex;
}
.menu__list-item {
   margin-right: 30px;
   
}
.menu__list-link{
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   transition: color 0.5s linear;
}
.menu__list-link:hover{
   color: #CB0E0E;
   
}
.header__phone {
   font-size: 24px;
   line-height: 29px;
   margin-left: auto;
   margin-right: 22px;
   position: relative;
   z-index: 20;
}
.login {
 margin-right: 134px;
 position: relative;
 z-index: 20;
}

.header__content {
   max-width: 600px;
}
.header__title {
   font-family: 'spaceagecyrillic';
   font-size: 60px;
   line-height: 60px;
   font-weight: normal;
}
.header__title span{
   font-size: 110px;
   margin-bottom: 20px;
  
}
.heder__text {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 50px;
}
.header__btn {
   font-size: 24px;
   line-height: 29px;
   color: #fff;
   border: 1px solid #FFFFFF;
   width: 100%;
   padding: 15px 10px;
   text-transform: uppercase;
   text-align: center;
   transition: all 0.5s linear;
}
.header__btn:hover{
   color: #CB0E0E;
   border: 1px solid  #CB0E0E;
}
.header__description {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 5%;
   margin-top: 40px;
}
.header__description-text {
   width: 165px;
   font-size: 14px;
   line-height: 17px;
}
.header__description-text +.header__description-text{
  
   margin-left: 52px;
}
.about{
   background-image:url('../images/about-bg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 
}

.about__item {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-bottom: 150px;
}
.about__item:nth-child(odd){
flex-direction: row-reverse;
}
.about__img {
   max-width: 100%;
}
.about__content {
   width: 600px;
   
}
.about__content-title {
   font-weight: bold;
   font-size: 30px;
   line-height: 36px;
   margin-bottom: 5px;
}
.about__content_subtitle {
   font-size: 12px;
   line-height: 14px;
   font-weight: normal;
   text-transform: uppercase;
   color: #036CCA;
   margin-bottom: 30px;
}
.about__content-text {
   display: flex;
   justify-content: space-between;
  
}
.about__content-text p{
  width: 165px;
  margin-bottom: 50px;
}
.about__table {
margin-bottom: 50px;
}
.about__table-tr {
   border:1px solid #fff;
   border-left: 0;
   border-right: 0;
   text-align: center;
}
.about__table-td{
   
   padding: 10px 30px 10px 0;
}
.about__table-tr + .about__table-tr{
   font-weight: bold;
   font-size: 36px;
   line-height: 43px;
}
.about__table-td span {
   display: block;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
}
.about__table-caption{
   caption-side: bottom;
   text-align: left;
   margin-top: 20px;
   font-size: 12px;
   line-height: 14px;
}
.how-to{
   background-image: url('../images/howto-bg1.jpg');
   background-size: cover;
   background-position: top center;
   background-repeat: no-repeat; 
   padding-bottom: 100px;
 
}
.how-to__box{
   text-align: center;
   
}
.how-to__list{
   display: none;
}
.how-to__box circle,
.how-to__box text, foreignobject{
   transition: all 0.5s linear;
   cursor: pointer;
   font-size: 18px;
}
.how-to__box g:hover circle{
   r:20px;
   fill: #036CCA;
}
.how-to__box g:hover text{
   font-size: 36px;
   fill: #036CCA;
}
.how-to__box g:hover foreignobject{
   font-size: 22px;
   color: #036CCA;
}
.to-book{
   background-image: url('../images/tobook-bg.jpg');
   background-position: top center;
   background-repeat:no-repeat;
   background-size: cover;
   height: 100vh;
}
.to-book__inner{
   display: flex;
   justify-content: space-between;
}
.to-book__text{
   padding-top: 100px;
   width: 165px;
   font-size: 14px;
   line-height: 17px;  
   margin-left: auto;
   margin-right: 53px;
}
.to-book__text + .to-book__text{
   margin-right: 0;
   margin-left: 0;
}
.info{
   background-image: url("../images/info-bg.jpg");
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 100px;
}
.info-btn{
   width: 100%;
}
.special-offer__inner{
   display: flex;
   justify-content: space-between;
}
.special-offer__item{
   width: 500px;
   
}
.special-offer__item-box{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 400px;
   padding: 40px 75px;
   border: 1px solid #fff;
   margin-bottom: 25px;
   text-align: center;
}
.special-offer__item-text{
   width: 236px;
   font-size: 24px;
   line-height: 29px;
   margin: 0 auto;
}
.special-offer__item-text span{
   color: #CB0E0E;
}

.special-offer__newprice{
   font-size: 48px;
   line-height: 57px;
}
.special-offer__oldprice{
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  position: relative;
 
}
.special-offer__oldprice::before{
   position: absolute;
   top: 6px;
   right: -2px;
   content: "";
   width: 68px;
   height: 1px;
   background-color: #CB0E0E;
   transform: rotate(15deg);
}
.services{
   padding-bottom: 200px;
}
.services__inner{
   display: flex;
}
.services__list-box{
   width: 620px;
   margin-right: 80px;
   font-size: 24px;
   line-height: 29px;
}
.services__list-title{
   margin-bottom: 25px;
}
.services__list{
   margin-bottom: 13px;
   list-style: none;
   padding-left: 35px;
}
.services__list-item{
   position: relative;
   margin-bottom: 5px;
}
.services__list-item::before{
   position: absolute;
   top: 4px;
   left: -35px;
   content: "";
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #fff;
}
.services__description{
   font-size: 12px;
   line-height: 14px;
}
.services-btn{
   width: 100%;
}
.services__buttons{
   max-width: 500px;
}
.services-btn--first{
   margin-bottom: 50px;
   position: relative;
}
.services-btn--first::before{
   position: absolute;
   content: "";
   width: 192px;
   height: 150px;
   right: 0;
   bottom: 40px;
   background-image:url("../images/photo.png");
}
.slider__inner {
   border: 1px solid #fff;
   padding: 100px 0;
   margin-bottom: 50px;
}

.slider__box-item {
}
.slider__box-img {
   display: block;
   margin: 0 auto;

}
.slider__description{
   font-family: 'spaceagecyrillic';
   font-size: 24px;
   line-height: 30px;
   text-align: center;
}
.arrow{
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
   position: absolute;
   top: 50%;
   z-index: 5;
}
.arrow-left{
   left: 75px;
}
.arrow-right{
   right: 75px;
}
.contacts {
   background-color:  #010203;
   padding-bottom: 100px;
}


.contacts__inner {
   display: flex;
   justify-content: space-between;
}
.contacts__box {
   width: 500px;
}

.contacts__title{
   padding-bottom: 46px;
}
.contacts__text {
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 80px;
}
.contacts__form {
 margin-bottom: 70px;
}
.contacts__form-input {
   font-family: 'SF-Pro-Display';
   font-size: 14px;
   line-height: 17px;
   background: transparent;
   border: none;
   border-bottom: 1px solid #fff;
   padding: 20px 10px;
   color: #fff;
   width: 100%;
   margin-bottom: 30px;

}
.contacts__form-input::placeholder{
   font-family: 'SF-Pro-Display';
   font-size: 14px;
   line-height: 17px;
   color: #fff;
}
.contacts__btn{
   width: 100%;
}
.contacts__gurantees {
   width: 500px;
}

.contacts__gurantees-img {
   display: flex;
   justify-content: flex-end;
   margin-left: auto;
}
.footer {
   background-image: url("../images/footer-bg.jpg");
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 100px 0 150px;
}

.footer__inner {
   display: flex;
   justify-content: flex-end;
}
.footer__text {
   width: 165px;
   margin-right: 52px;
}
.footer__text p + p {
   margin-top: 50px;
}
.footer__menu,
.footer__links {
   list-style: none;
}

.footer__links {
   width: 165px;
   margin-left: 100px;
}
.footer__links-item, 
.footer__menu-item {
   transition: color 0.5s linear;
   margin-bottom: 20px;
}
.footer__links-item:hover, 
.footer__menu-item:hover{
   color: #CB0E0E;
}
  
.menu__burger{
   display: none;
   cursor: pointer;
   width: 40px;
   height: 30px;
   position: relative;
   z-index: 20;
}
.menu__burger span{
   display: block;
   width: 40px;
   height: 2px;
   background-color: #fff;
   position: relative;
}
.menu__burger span::before,
.menu__burger span::after{
   content: "";
   position: absolute;
   width: 40px;
   height: 2px;
   background-color: #fff;
   left: 0;
}
.menu__burger span::before{
   top: -10px;
}
.menu__burger span::after{
   bottom: -10px;
}





@media(max-width: 1160px){
   .about{
      text-align: center;
   }
   .about__img{
      margin-bottom: 50px;
   }
   .about__table {
      width: 100%;
  }
   .about__item{
      display: block;
   }
   .about__content{
      width: 100%;
   }
   .about__content-text {
      display: block;
   
  }
  .about__content-text p{
     width: 100%;
  }
  .about__img{
     margin-bottom: 50px;
  }
}

@media(max-width: 1050px){
   .special-offer__inner{
      display: block;
   }
   .special-offer__item {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
  }
  .info-btn {
   width: 100%;
   margin-bottom: 30px;
}
.contacts__inner{
   display: block;
}
.contacts__box{
   width: 100%;
}
.contacts__gurantees {
  
   margin: 0 auto;
}
.contacts__form {
   margin-bottom: 0px;
}
}
@media(max-width: 1024px){
   .login {
      margin-right: 0px;
   }
  .to-book__inner{
   display: block;
   }
  .to-book__text {
 padding-top: 0;
 width: 100%;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 30px;
  }
  }
 

@media(max-width: 900px){
   .title{
      text-align: center;
   }
   .menu__list {
      display: block;
      transform: translateY(-150%);
      transition: all 0.5s linear;
      position: absolute;
      top: 0;
      left: 0;
      background-color:#010203;
      padding-top: 90px;
      padding-bottom: 30px;
      width: 100%;
      text-align: center;
   }
   .menu__list.active{
      transform: translateY(0);
   }
   .menu__list-item{
      padding: 10px 0;
      margin-right: 0;
   }
   .menu__list-link {
      display: block;
   }
   .menu__burger{
      display: block;
   }
   .header {
      background-position: right top;
  }
  .header__top{
     padding: 30px 0;
  }
   .header__content {
      margin: 0 auto;
      text-align: center;
   }
   .header__title {
   font-size: 48px;
   line-height: 48px;
   }
  .header__title span {
   font-size: 88px;
   }
   .header__phone {
      font-size: 20px;
      line-height: 26px;
      margin: 0 auto;
  }
   .heder__text {
    font-size: 20px;
    line-height: 28px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .heder__text p + p{
     padding-left: 20px;
  }
  .header__btn{
     width: 80%;
  } 
  .header__description{
     display: block;
     text-align: center;
  }
  .header__description-text{
   width: 100%;

}
.header__description-text + .header__description-text{
   margin-left: 0px;
   margin-top: 10px;
}
.how-to__box svg{
   display: none;
}
.how-to__list{
   list-style: none;
   display: block;
   text-align: left;

}
.how-to__list-item{
   border-left: 1px solid #fff;
   margin-left: 20px;
   padding: 0px 0px 30px 20px;
   position: relative;
}

.how-to__list-item:last-child{
   border-left: none;
}
.how-to__list-item::before{
   content: "";
   top: 0px;
   left: -11px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #fff;
   position: absolute;
}
.services {
   padding-bottom: 130px;
}
.services__inner{
   display: block;
   
}
.services__list-box {
   margin: 0 auto;
   max-width: 620px;
   width: 100%;
   margin-bottom: 140px;
}
.services__buttons {
   
   width: auto;
   margin: 0 auto;
}
.slick-slide img {
   
   max-width: 100%;
}
}
@media(max-width: 720px){
   .services {
      padding-bottom: 50px;
   }
  
}

@media(max-width: 620px){
   .title {
      font-size: 28px;
      line-height: 28px;
      padding: 50px 0;
   }
  .about__item {
     padding-bottom: 50px;
   }
  .about__table-tr:first-child{
   display: none;
   }
  .about__table-td{
     display: block;
     text-align: right;
     border-bottom: 1px solid #fff;
   }
   .about__table-td:last-child{
      border: none;
   }
   .about__table-td span{
      display: inline-block;
    }
  .about__table-td::before{
    content: attr(aria-label);
    float: left;
  }
  .about__table-tr + .about__table-tr {
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
}
.to-book{
   background-position: top left;
}
.slider__inner {
   padding: 0;
}
   }
   @media(max-width: 560px){
   .header__title{
      font-size: 36px;
      line-height: 36px;
   }
   .header__title span {
      font-size: 67px;
   }
   .header__btn{
      font-size: 20px;
      line-height: 26px;
   }
   .special-offer__item-box {
      min-height: 325px;
      padding: 25px 25px;
   }
   .special-offer__newprice {
      font-size: 42px;
      line-height: 54px;
  }
  .special-offer__item-text {
     font-size: 18px;
     line-height: 26px;
  }
  .services__list-box {
   
   font-size: 18px;
   line-height: 26px;
}
.slider__description {
   font-size: 18px;
   line-height: 26px;
   
}
.contacts__text {
   font-size: 18px;
   line-height: 26px;
   margin-bottom: 30px;
}
.contacts__gurantees {
   width: 100%;
}
.contacts__gurantees-img {
   max-width: 100%;
}
.footer{
   text-align: center;
   padding: 70px 0;
}
.footer__inner {
   display: block;
}
.footer__links{
   margin-left: 0;
   margin: 0 auto;
}
.footer__text {
   width: 100%;
   margin-right: 0;
}
.footer__text p + p {
   margin-top: 15px;
}
.footer__menu{
   margin-top: 20px;
margin-bottom: 30px;
}

}

@media(max-width: 400px){
 
  .header__title{
   font-size: 30px;
   line-height: 30px;
}
.header__title span {
   font-size: 56px;
}
   .header__btn{
   width: 100%;
  }
  .to-book_title,
  .services__title{
     font-size: 23px;
     line-height: 23px;
  }
}
@media(max-width: 360px){
   .services-btn--first::before{
      bottom: 62px;
   }
}